<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= title %></title>
	<!-- HTML -->
	<!-- Custom Styles -->
	<link rel="stylesheet" href="css/login.css">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/signup.css">
</head>

<body>
	<div class="menu_mare">
		<div class="container">
			<div class="menue">
				<ul>
					<li><a href="/login">Login</a></li>
					<li><a href="/home">Home</a></li>
					<li><a href="/">SignUp</a></li>
				</ul>
			</div>
		</div>
	</div>
	