<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Error</title>
	<!-- HTML -->
	<!-- Custom Styles -->
	<style>
		* {
			font-family: Arial;
			font-weight: bold;
			color: #444;
		}
	</style>
</head>

<body>
	<p>status: 404</p>
	<p>message:</p>
	<h1><%= error %></h1>
	
	<!-- Project -->
</body>

</html>